/* Tabelka licytacji */
#bidding_popup { background-color: white; padding: 10px; border-radius: 10px; border: 1px solid black;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
#bidding_popup table { width: 100%; text-align: center; }
#bidding_popup table th { text-align: center; }
a.biddingLink { background: url('../images/link.png') no-repeat; display: inline-block; width: 16px; height: 16px; float: right; margin: 1px 1px 1px 3px }
