/* Tabelka licytacji */
.bidding_popup table { width: 100%; text-align: center; }
.bidding_popup table th { text-align: center; }
.bidding_popup table td { width: 25%; }
a.biddingLink { background: white url('../images/link.png') no-repeat; display: inline-block; width: 16px; height: 16px; position: absolute; right: 2px; top: 3px}
td.nol {position:relative; min-height: 16px; padding: 2px 21px 2px 2px}
